@using ArticleSystem.Web.Models.Aarticle
@model ArticleDetailsViewModel

@{
    ViewBag.Title = "Details";
}


<h1>@Model.Name</h1>

<div class="row">
    <div class="col col-md-6 col-md-offset-3">
        <div class="text-center">
            <h4>Price: $@Model.Price</h4>
        </div>
        <div class="col col-md-12 thumbnail">
            <img src="@Model.ImageUrl" alt="@Model.Name" />
        </div>
        <div class="col-md-12 text-center ">

            <h4> Votes:  <span id="article-votes" class="text-danger">@Model.Votes</span></h4>
            @if (User.Identity.IsAuthenticated && Model.UserCanVote)
            {
                @Ajax.ActionLink("Vote", "Vote", "Article", new { id = Model.Id }, new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "article-votes",
                HttpMethod = "Post",
                OnSuccess = "hideVoteButton"
            },
                new { id = "vote-button", @class = "btn btn-danger" })
            }

        </div>
    </div>
</div>

<br />
<div class="row text-center">
   
    @if (!string.IsNullOrEmpty(Model.Description))
    {
        <h4>Description:<br />@Model.Description</h4>
    }
</div >

<br /><hr />

@if (Model.Comments.Count!=0)
{
    <h3>Comments:</h3>
}

<div id="Comments" class="row">   
    @foreach (var comment in Model.Comments)
    {
        @Html.Partial("_CommentPartial", comment)<br/> 
    }
</div>

<div class="row">
    @if (User.Identity.IsAuthenticated)
    {

        <p>Leave a comment:</p>
        using (Ajax.BeginForm("PostComment", "Article", new { id = Model.Id }, new AjaxOptions
        {
            HttpMethod = "Post",
            InsertionMode = InsertionMode.InsertAfter,
            UpdateTargetId = "Comments",
            OnFailure = "commentPostFailure"
        }))
        {
            @Html.Hidden("ArticleId", Model.Id)
            @Html.TextArea("comment")
            @Html.AntiForgeryToken()
            <br />
            <input type="submit" value="Comment" class="btn btn-default" />
        }
    }
    else
    {
        <div class="alert alert-warning text-center col- col-md-6 col-md-offset-3" role="alert">Login to comment or vote.</div>
    }
    <br />
</div>
<div class="row">
    <p>
        @Html.ActionLink("Back to Home", "Index", "Home")
    </p>
</div>


@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        function commentPostFailure() {
            alert("Error");
        }

        function hideVoteButton() {
            $("#vote-button").hide();
        }
    </script>
}



@*@section scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@

@*https://www.dropbox.com/s/mkko460epjjmldg/05.jpg?dl=0*@