@model ArticleSystem.Web.Models.Aarticle.ArticleDetailsViewModel

@{
    ViewBag.Title = "Details";
}


<h2>@Model.Name</h2>
<div class="row">
    <div class="span4">
        
        <div><strong>Price:</strong> $@Model.Price</div>
    </div>
    <div class="span4">
        <img src="@Model.ImageUrl" alt="@Model.Name" />
    </div>
    <div class="span4">     
        @if (!string.IsNullOrEmpty(Model.Description))
        { <div><strong>Description:</strong><br />@Model.Description</div> }
    </div>
</div>

<div>
    Votes: <span id="article-votes">@Model.Votes</span>
    @if (User.Identity.IsAuthenticated && Model.UserCanVote)
    {
        @Ajax.ActionLink("Vote", "Vote", "Article", new {id = Model.Id}, new AjaxOptions
        {
            InsertionMode = InsertionMode.Replace,
            UpdateTargetId = "article-votes",
            HttpMethod = "Post",
            OnSuccess = "hideVoteButton"
        },
            new {id = "vote-button", @class = "btn btn-danger"});
    }



</div>
<br /><hr />
<h3>Comments:</h3>
<div id="Comments" class="row">
    @foreach (var comment in Model.Comments)
    {
        @Html.Partial("_CommentPartial", comment)
    }
</div>
@if (User.Identity.IsAuthenticated)
{
    using (Ajax.BeginForm("PostComment", new AjaxOptions 
        {   
            HttpMethod = "Post",
            InsertionMode = InsertionMode.InsertAfter,
            UpdateTargetId = "Comments",
            OnFailure = "commentPostFailure" }))
        {
        @Html.Hidden("ArticleId", Model.Id)
        @Html.TextArea("comment")
        @Html.AntiForgeryToken()
         <br/>
        <input type="submit" value="Comment" class="btn btn-default" />
    }
}

@section scripts{
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script>
        function commentPostFailure() {
            alert("Error");
        }

        function hideVoteButton() {
            $("#vote-button").hide();
        }
    </script>
}
